{% extends "base.html" %}

{% block property_dec %}
        Global Towers Hotel & Apartments is a 5-minute walk from Galle Road and the Kollupitiya Railway Station, 
        while the city centre is 6 km away. Bandaranaike International Airport is about 34 km from the hotel.
        All accommodation have private balconies and elegant bathrooms with shower facilities.
        Each apartment offers large living and dining areas, and a washing machine. Selected rooms come with a bathtub.
        Comes with comfortable air-conditioned dorms with lockers, hot water showers, free wifi, cable TV and delicious breakfast can be arranged upon request! At our apartment,
        your beds are made for you, and we make sure all our guests are best take care of.
{% endblock %}

{% block room_one %}
    Balcony ✓ |
    Flat screen TV ✓ |
    Air con ✓ |
    Phones ✓ |
    Mini bar ✓ |
    Hair dryer ✓ |
    Iron ✓ |
    Toiletries ✓ |
    Room safe |
    Tea / coffee maker ✓ |
    Wardrobes  ✓ |
    Mirrors ✓ |
    Free wi-fi ✓ |
    Shower ✓ |
{% endblock %}

{% block room_two %}
    Balcony ✓ |
    Flat screen TV ✓ |
    Air con ✓ |
    Phones ✓ |
    Mini bar ✓ |
    Hair dryer ✓ |
    Iron ✓ |
    Toiletries ✓ |
    Room safe |
    Tea / coffee maker ✓ |
    Wardrobes  ✓ |
    Mirrors ✓ |
    Free wi-fi ✓ |
    Shower ✓ |
{% endblock %}

{% block room_three %}
    Balcony ✓ |
    Flat screen TV ✓ |
    Air con ✓ |
    Phones ✓ |
    Mini bar ✓ |
    Hair dryer ✓ |
    Iron ✓ |
    Toiletries ✓ |
    Room safe |
    Tea / coffee maker ✓ |
    Wardrobes  ✓ |
    Mirrors ✓ |
    Free wi-fi ✓ |
    Shower ✓ |
{% endblock %}


{% block addr %} 
    Marine Drive, Colombo - 06, Sri Lanka.
{% endblock %}

{% block email %}
    hello@yourdomain.com
{% endblock %}
